[Desktop Entry]
Name=TEA
Comment=Powerful text editor
Comment[pl]=Edytor tekstu o dużych możliwościach
Exec=tea
Icon=tea
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;TextEditor;
# vi: encoding=utf-8
